/* @import url('./arvo.woff'); */

@font-face {
    font-family: Arvo;
    src: url('./arvo.woff')
}
.App {
  text-align: center;
  font-family: Arvo, serif;
}

.App-header {
  background-color: #13133a;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
    margin: 0;
}

.firstSection {
    height: 27px;
    background-color: white;
    position: relative;
    
}
.secondSection {
    min-height: 500px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-top: 20px;
    /* align-items: flex-start; */
    
}
.thirdSection {
    height: 400px;
    background-color: rgba(189, 132, 57, 0.924);
    position: relative;
}

#search {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    transform: translate(0, -50%);
    border-radius: 50em;
    border: grey solid 3px;
    outline: none;
    height: 21px;
    width: 31%;
    padding: 12px;
    font-size: 22px;
    text-align: center;
    animation: size;
    animation-duration: 0.4s;
}

@keyframes size {
    from {width: 5%;}
    to {width: 31%;}
}

.recipe {
    /* flex-basis: 20%; */
    color: black;
    font-size: 18px;
    animation: image;
    animation-duration: 2s;
    
}

.recipe img {
    border-radius: 1%;
    width: 250px;
    height: 250px;
}

p.title {
    margin-top: 9px;
}

@keyframes image {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* 
#search:active {
    text-align: left;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
